@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --ff-main: 'Roboto';
    --ff-size: 1rem;
    --fw-mid: 400;
    --fw-bold: 700;
    /* Colors */
    --clr-Tomato: hsl(4, 100%, 67%);
    --clr-DarkSlateGrey: hsl(234, 29%, 20%);
    --clr-CharcoalGrey: hsl(235, 18%, 26%);
    --clr-Grey: hsl(231, 7%, 60%);
    --clr-White: hsl(0, 0%, 100%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {

    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html {
    height: 100%;
  }